@page {
	size: 1240px  1754px; /* @150 DPI */
	margin: 0 !important;
}
body {
	background-color: white;
	margin: 0 !important;
	padding: 0 !important;
}
img, #Lead {
	background-color: white;
}
div.vcard.h-card {
	page-break-inside: avoid;
}
h1, h2, h3, h4, h5 {
	page-break-after: avoid;
}
img, #Lead {
	page-break-after: avoid;
}
aside, footer {
	color: var(--dark);
}
aside, main {
	page-break-before: avoid;
	page-break-inside: auto;
}
.spacer {
	border-color: var(--dark);
}
#ComputerScience li:not(:first-of-type, noprint) + li labelinput:checked+label {
	border-left: 1px solid;
}
section {
	page-break-inside: auto;
}
section > div {
	page-break-inside: avoid;
	page-break-before: auto;
	page-break-after: auto;
}
summary {
	page-break-after: avoid;
}
summary summary+* {
	page-break-inside: auto;
}
.noprint {
	display: none !important;
}