body {
	--page-width: 1240px;
	--image-size: 435px;
	--five-quarters-image-size: calc(5/4 * var(--image-size));
	--space: 1.5em;
	--half-space: 0.75em;
	font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4 {
	font-family: Jost, Arial, Verdana, Helvetica, sans-serif;
}
blockquote {
	margin: 0;
	text-align: justify;
}
div.vcard.h-card {
	width: var(--page-width);
	height: var(--page-height);
	margin: auto;
	display: grid;
	grid-template:
		"image  lead"
		"aside  main"
		"footer main" / var(--image-size);
}
img {
	grid-area: image;
	width: var(--image-size);
	aspect-ratio: 1/1;
	filter: grayscale(1);
}
#Lead {
	grid-area: lead;
	padding: 1.5rem;
}
aside, footer {
	padding-left: var(--space);
	width: var(--image-size);
	grid-area: aside;
	box-sizing: border-box;
}
p {
	margin: 0;
}
aside>p:first-of-type {
	text-align: center;
	margin-top: 0.175em;
}
address {
	font-style: normal;
}
aside>section>*:not(.h2) {
	margin-right: var(--space);
}
#Contact > address + p, #Contact > p + p {
	margin-top: var(--half-space);
}
#Contact i {
	margin-right: 1em;
	color: var(--blue);
}
ul {
	margin: 0;
}
#ComputerScience ul {
	padding: 0;
}
#ComputerScience li {
	list-style: none;
}
#ComputerScience li:not(hidden) {
	display: inline-block;
}
#ComputerScience li {
	padding: 0 0.5rem;
	box-sizing: border-box;
}
#ComputerScience li:not(:first-of-type, noprint) + li {
	border-left: 1px solid;
}
#Languages>div[id] {
	display: flex;
	flex-wrap: wrap;
}
#Languages>div[id] + div[id] {
	margin-top: var(--half-space);
}
#Languages>div[id] h3 + p {
	margin-left: auto;
	align-self: center;
}
#Languages>div[id] h3 + p + p {
	text-align: justify;
	font-size: small;
}
#Hobbies>[id] + div[id] {
	margin-top: var(--half-space);
}
main {
	grid-area: main;
	padding: 0 var(--space) var(--space) var(--space);
	box-sizing: border-box;
}
.p-experience {
	display: grid;
	grid-template:
		"organizer    role"
		"period       summaries"
		"titles       summaries"
		"realisations realisations" / auto calc(var(--image-size) + var(--space));
	column-gap: 1em;
}
.p-experience + .p-experience {
	margin-top: var(--half-space);
}
[itemprop="organizer"] {
	grid-area: organizer;
	align-self: first baseline;
}
[itemprop="role"] {
	grid-area: role;
	align-content: first baseline;
}
.time {
	grid-area: period;
	font-size: small;
}
.summaries {
	grid-area: summaries;
	display: flex;
	flex-direction: column;
	font-size: small;
}
h4 {
	margin: 0;
}
.titles {
	grid-area: titles;
	align-self: end;
}
.realisations {
	grid-area: realisations;
}
details>details {
	margin-left: var(--half-space);
}
details>::marker {
	font: var(--fa-font-solid);
	color: var(--blue);
	content: '\f06e ';
	font-size: small;
}
details[open]>::marker {
	font: var(--fa-font-solid);
	content: '\f070 ';
	font-size: small;
}
.p-achievement ul {
	padding-left: 1em;
}
h4 {
	font-weight: normal;
	font-style: italic;
}
h5 {
	display: inline-block;
	font-weight: normal;
	font-size: small;
}
h3, h4, h5 {
	margin: 0;
}
summary.p-summary + * {
	font-size: small;
	border: 2px solid #0000;
	border-image:radial-gradient(at 50% 0, white 70%, var(--blue)) 10;
}
.technologies {
	font-size: x-small;
	font-style: italic;
}
#Training .vevent, #References>div {
	display: grid;
	grid-template-columns: auto var(--five-quarters-image-size);
}
#Training .vevent>div>p {
	font-size: small;
}
#Training .vevent + .vevent, #References>div + div {
	margin-top: var(--half-space);
}
footer {
	grid-area: footer;
	align-self: end;
	padding-bottom: var(--space);
	font-size: smaller;
}


/** SCREEN **/
body {
	--dark: #3B3A3B;
	--light: #EAEBEC;
	--blue: #56C8EA;
	background-color: var(--dark);
}
img {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
img, #Lead {
	color: var(--dark);
	background-color: var(--light);
}
h1 {
	margin: 0;
	font-size: 92px;
	line-height: 0.85em;
	width: 200px;
	letter-spacing: .75rem;
}
h2 {
	color: var(--blue);
	font-variant: small-caps;
}
a {
	color: var(--blue);
}
aside, footer {
	color: white;
}
form {
	background-color: #ffffff0a;
}
input[type="search"] {
	width: 100%;
	border: 1px solid var(--blue);
}
main {
	background-color: white;
	color: var(--dark);
}
main h2 {
	padding-bottom: calc(var(--half-space) / 3);
	border-bottom: 0.1em solid transparent;
	border-image: linear-gradient(to right, transparent, transparent var(--space), var(--blue) var(--space)) 1;
}
details>::marker {
	color: var(--blue);
}
.h2 {
	display: flex;
	align-items: center;
}
.h2 h2 {
	padding: 0 .5rem;
	font-weight: normal;
}
.spacer {
	flex-basis: 0;
	flex-grow: 1;
	border-bottom: 0.15em solid white;
}
@media screen {
input[type="search"] {
	animation: zoom 1s 2 alternate;
	transform-origin: bottom left;
}
@keyframes zoom {
	to { transform: scale(2); }
}
.noscreen {
	display: none !important;
}
}
@media print {
@page {
	size: 1240px  1754px; /* @150 DPI */
	margin: 0 !important;
}
body {
	background-color: white;
	margin: 0 !important;
	padding: 0 !important;
}
img, #Lead {
	background-color: white;
}
div.vcard.h-card {
	page-break-inside: avoid;
}
h1, h2, h3, h4, h5 {
	page-break-after: avoid;
}
img, #Lead {
	page-break-after: avoid;
}
aside, footer {
	color: var(--dark);
}
aside, main {
	page-break-before: avoid;
	page-break-inside: auto;
}
.spacer {
	border-color: var(--dark);
}
#ComputerScience li:not(:first-of-type, noprint) + li labelinput:checked+label {
	border-left: 1px solid;
}
section {
	page-break-inside: auto;
}
section > div {
	page-break-inside: avoid;
	page-break-before: auto;
	page-break-after: auto;
}
summary {
	page-break-after: avoid;
}
summary summary+* {
	page-break-inside: auto;
}
.noprint {
	display: none !important;
}
}