{% extends 'base.html.twig' %}

{% block body %}
	<form method="post">
		<input type="text" name="filepath" style="width: 99%" /><br />
		<button type="submit">Traiter</button>
	</form>
{% endblock %}