<div class="titles">
	<h4>{{ 'app.realisation.heading'|trans({'count': entities.count} ) }}</h4>
</div>
<div class="realisations">
	{% for realisation in entities %}
	{% include 'realisation/show_cv.html.twig' with {'entity': realisation} %}
	{% endfor %}
</div>